name: Deploy to Google Cloud

on:
  workflow_dispatch:

  push:
    tags:
      - 'opphub_v*.*'

jobs:
  build-and-push-gcs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SVC_ACCOUNT_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: List vm instances
        run: |
          gcloud compute instances list --zones=asia-south1-a

