name: Deploy to Google Cloud

on:
  workflow_dispatch:

  push:
    tags:
      - 'opphub_v*.*'

jobs:
  build-and-push-gcs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'

      - name: Install fronend dependencies
        run: |
          cd frontend
          npm install

      - name: Build frontend code and zip
        run: |
          cd frontend
          npm run build
          cd dist
          zip -r ../frontend.zip ./*

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Upload artifact
          path: ./frontend/frontend.zip

