name: Deploy to Google Cloud

on:
  workflow_dispatch:

  push:
    tags:
      - 'opphub_v*.*'

jobs:
  build-and-push-gcs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SVC_ACCOUNT_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Create VM instance
        id: create_instance
        run: |
          REF_NAME="${{ github.ref_name }}"
          # Replace all occurrences of '/' with '-' using shell parameter expansion
          INSTANCE_SUFFIX="${REF_NAME//\//-}"
          INSTANCE_SUFFIX="${INSTANCE_SUFFIX//./-}"
          
          echo "instance_suffix=$INSTANCE_SUFFIX" >> $GITHUB_OUTPUT
          
          #create startup script to execute once VM is available
          cat << EOF > startup-vm-script.sh
          cd /OpportunityHub_final/
          sudo git checkout main > /var/log/start-script-vm.log
          sudo git pull >> /var/log/start-script-vm.log 
          cd /OpportunityHub_final/frontend
          sudo npm install >> /var/log/start-script-vm.log 
          sudo npm run build >> /var/log/start-script-vm.log 
          sudo cp -Rf ./dist/. /var/www/html/. >> /var/log/start-script-vm.log 
          sudo systemctl restart nginx >> /var/log/start-script-vm.log 
          cd /OpportunityHub_final/backend
          sudo npm install >> /var/log/start-script-vm.log 
          pm2 start /OpportunityHub_final/backend/src/index.js >> /var/log/start-script-vm.log 
          EOF
          
          gcloud compute instances create nodejs-server-vm-${INSTANCE_SUFFIX} \
            --zone=asia-south1-a \
            --machine-type=e2-micro \
            --source-machine-image=nodejs-server-v2 \
            --boot-disk-size=10GB \
            --boot-disk-type=pd-standard \
            --tags=http-server \
            --service-account=${{ secrets.GCP_SVC_ACCOUNT }} --scopes=cloud-platform \
            --metadata-from-file=startup-script=startup-vm-script.sh

      - name: List vm instances
        run: |
          echo http://$(gcloud compute instances describe nodejs-server-vm-${{ steps.create_instance.outputs.instance_suffix }} --format="value( networkInterfaces[0].accessConfigs[0].natIP)" --zone=asia-south1-a) >> $GITHUB_STEP_SUMMARY
          

